@import "tailwindcss";


.scrollbar-hide {
    -ms-overflow-style: none;
    
    scrollbar-width: none;
    
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
   
}

@keyframes pageEnter {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-enter {
    animation: pageEnter 0.35s ease-out;
}


 /* Premium Scrollbar after the first version */
.premium-scroll::-webkit-scrollbar {
    width: 6px;
}

.premium-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.premium-scroll::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.4);
    border-radius: 999px;
}

.premium-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 116, 139, 0.6);
}


.premium-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(148, 163, 184, 0.4) transparent;
}