@import "tailwindcss";


.scrollbar-hide {
    -ms-overflow-style: none;
    
    scrollbar-width: none;
    
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
   
}

@keyframes pageEnter {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-enter {
    animation: pageEnter 0.25s ease-out;
}